
    /*  公共样式    */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0
}

/*  界面样式    */
html{
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
}
.box {
    width: 100%;
    height: 100%;
    background: url("../img/10.jpg")no-repeat;
    background-size: cover ;
    position: relative;
    transition: 1s;
}

.footer {
    width: 100%;
    height: 5.725%;
    background: #256E99;
    /*opacity: .7;*/
    position: fixed;
    left: 0;
    bottom:0;
}

.start {
    width: 38px;
    height: 36px;
    background: url("../img/start1.png") no-repeat;
    float: left;
    padding-left: 5px;
    line-height: 40px;
    transition: all 1s;
}

.start_div {
    width: 408px;
    height: 554px;
    border-radius: 5px;
    border: 1px solid #69727A;
    background: rgba(58, 69, 80, 0.7);
    position: absolute;
    left: 0;
    top: -560px;
    display: none;

}

.st_tex {
    width: 254px;
    height: 542px;
    background: #FFFFFF;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #69727A;
    position: absolute;
    z-index: 50;
}

.st_tex_ul li {
    height: 36px;
    width: 245px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 4px;

    /*background: url("../img/ss.png");*/
}
.st_tex_ul li img{
    float:left;
    height:35px;
    width:35px;
    background-size: 35px 35px;
}
.st_tex_ul li p{
    float:left;
    height:35px;
    font-size: 12px;
    line-height: 35px;
    margin-left: 5px;
}

.findT input {
    width: 222px;
    height: 24px;
    text-indent: 5px;
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.st_val {
    position: absolute;
    top: 45px;
    right: 5px;
    width: 136px;
    height: 320px;
    margin-left: 5px;
}

.st_val li {
    height: 30px;
    color: #FFFFFF;
    text-indent: 7px;
    line-height: 30px;
    margin: 5px 0;
    font-size: 14px;
    border:1px solid transparent;
    border-radius: 3px;
}

.st_val li:hover {
    border: 1px solid #FFFFFF;
}

.st_img {
    width: 58px;
    height: 58px;
    background: url("../img/imgs1/fo13.ico");
    background-size: 58px 58px;
    position: absolute;
    top: -26px;
    right: 46px;
    border-radius: 5px;
    transition: 1s;
}

.stop_com {
    width: 90px;
    height: 22px;
    background: #000000;
    position: absolute;
    bottom: -170px;
    right: 40px;
    color: #FFFFFF;
    text-indent: 20px;
    font-size: 10px;
    line-height: 22px;

}
.footer_lr{
    float:right;
    margin-right:100px;
}
.footer_lr li{
    float: left;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 24px;
    border-left: 1px solid transparent ;
    border-right:1px solid transparent ;

}
.footer_lr li:hover{
    border-left: 1px solid #000000;
    border-right:1px solid #000000;
}
.footer_lr .r1{background: url("../img/r1.png")no-repeat;}
.footer_lr .r2{background: url("../img/r2.png")no-repeat;}
.footer_lr .r3{background: url("../img/r3.png")no-repeat;}
.footer_lr .r4{background: url("../img/r4.png")no-repeat;}
.footer_lr .r5{background: url("../img/r5.png")no-repeat;}

.footer_ll li{
    float: left;
    width: 100px;
    margin-left: 50px;
    line-height: 33px;
    font-size: 14px;
    border: 1px solid #FFFFFF;
    text-align: center;
    font-weight: bold;
    background: #F6DC9D;
    line-height: 40px;
    border-radius: 5px;
}
.footer_ll li:hover{
    background: rgba(255, 255, 255, 0.81);
}

.showDate{
    position: absolute;
    top:0;
    right:15px;
    width:75px;
    height: 40px;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.showDate:hover{
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

/*  文件夹 */

.con{
    width:100%;
    height: 100%;
    position: relative;
}

.con .files{
    width: 70px;
    height: 81px;
    border: 2px solid transparent;
    position: absolute;
    /*opacity: .6;*/
    margin-left:10px;
}
.con .F_img{
    margin-top:5px;
    margin-left:5px;
    width: 66px;
    height: 60px;
    background: url("../img/folder.png")no-repeat;
}
.con .F_box{
    text-align: center;
    width: 66px;
    height: 20px;
    color:  #FFFFFF;
    font-size: 12px;
    margin-bottom:2px;
    position: relative;
}
.con .F_text {
    width: 66px;
    position: absolute;
    left:0;
    top:-5px;
    display: none;

}
.con .F_span{
    display: inline-block;
    overflow: hidden;
    width:66px;
}
.active1{
    background:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.31), rgba(235, 243, 253, 0.31));
    background:-moz-linear-gradient(top,#FFFFFF,#EBF3FD);
    background:-ms-linear-gradient(top,#FFFFFF,#EBF3FD);
    background:linear-gradient(top,#FFFFFF,#EBF3FD);
    border-radius: 5px;
}
.active2{
    background:-webkit-linear-gradient(top, rgba(220, 235, 252, 0.6), rgba(193, 220, 252, 0.61));
    background:-moz-linear-gradient(top,#DCEBFC,#C1DCFC);
    background:-ms-linear-gradient(top,#DCEBFC,#C1DCFC);
    background:linear-gradient(top,#DCEBFC,#C1DCFC);
    border-radius: 5px;
}
/*  画框样式    */
.divBox{
    border: 1px solid #0000FF;
    position: absolute;
}
li{
    list-style: none;
}

.con .hidden{
    display: none;
}
.con .show{
    display: block;
}
/*  窗口样式    */
.kou {
    width: 730px;
    height: 530px;
    border-radius: 10px;
    border: 1px solid white;
    background: #1F5A94;
    position:fixed;
    top:10%;
    left:20%;
    bottom:0;
    right:0;
    z-index: 10;
}

.fox {
    width: 108px;
    height: 24px;
    border: 1px solid blue;
    position: absolute;
    border-radius: 4px;
    top: 1px;
    left: 618px;
    background: url("../img/0.png") no-repeat;
    background-size: 108px 24px;
}

.main {
    width: 720px;
    height: 460px;
    margin: 40px 5px 5px 5px;
    background: #FFFFFF;
    position: absolute;
    top: 24px;
    left: 0;

}

.clear {
    zoom: 1;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.urls {
    width: 720px;
    height: 25px;
    position: absolute;
    top: 32px;
    left: 4px;
}

.urls input {
    width: 500px;
}

.fox span {
    width: 25px;
    height: 17px;
    display: inline-block;
    margin: 5px;
    line-height: 20px;
    opacity: 0;
}

.fox span:hover {
    background: #2B88BE;
}

.ur {
    width: 320px;
    height: 20px;
    margin-left: 100px;
}
